<section class='section'>
  <div class="about">
    <h1>About Me</h1>
    <h5>I am a front-end engineer passionate about building well-designed products that improve people's lives.</h5>
    <p>I specialize in Javascript, particular AngularJS, but that doesn't stop me from leaving the web and go exploring in the labryinth I call Tech.</p>
    <p>Right now, I'm trying to make my spare Rasberry Pi go fly.</p>
    <p>When I need to fly, I go -- snowboarding. Of course when I can't, I'm mazing through the city on my bike, always searching, sometimes finding...</p>
  </div>
  
  <!-- Present -->
  <div class="present">
    <h1>What am I doing now?</h1>
    <p>
    I am presently working on a Freelancers mock website. The mock holds the foundation of the website I have in my mind. I am utlizing the firebase server while I narrow my choice for a back-end framework. I am thinking Rails. An MVC style framework, and I love Angular, so I hope it to be a harmonious coming together.
    </p>
  </div>
  
  <div class="learn">
    <h1>How did I get here?</h1>
      <li><a href="https://www.udacity.com/course/front-end-web-developer-nanodegree--nd001" target="_blank">Udacity</a></li> 
      <li><a href="https://egghead.io/" target="_blank">Eggly</a></li> 
      <li><a href="https://www.thinkful.com/" target="_blank">Thinkful</a></li>
  </div>
    
  <!-- Find me here -->
  <div class="findMe">
    <p>You can find me here:</p>
    <ul>
      <li><a ng-href="https://instagram.com/gamal_ali1234" target="_blank">Instagram</a></li>
      <li><a ng-href="https://github.com/gali7221" target="_blank">Github</a></li>
    </ul>
    </div>
</section>
