<section class='section'>
  <div class="about">
    <h1>About Me</h1>
    <h5>I am a front-end engineer passionate about building well-designed products that improve people's lives.</h5>
    <p>I mainly do Front-end web development and specialize in Javascript, and AngularJS in particular.</p>
    <p>By day I keep up to date on the latest technological trends in my field. And at night I have recently found myself with a spare Rasberry pi. When I am not working on the web, I am learning the tech for this bad boy. I want it to fly. And maybe I will, too. Metaphorically speaking.</p>
    <p>I also enjoy everything about the outdoors. Snowboarding is very close to my heart and I plan trips to Colorado annually. When the summer rolls around, I enjoy bicycling through the city - no bike lanes! haha. kinda sorta.</p>
  </div>
  
  <!-- Present -->
  <div class="present">
    <h1>What am I doing now?</h1>
    <p>
    I am presently working on a Freelancers mock website. The mock holds the foundation of the website I have in my mind. I am utlizing the firebase server while I narrow my choice for a back-end framework. I am thinking Rails. MVC style and I love Angular, so it is a harmonious coming together.
    </p>
    </p>
  </div>
  
  <div class="learn">
    <h1>How did I get here?</h1>
      <li><a href="https://www.udacity.com/course/front-end-web-developer-nanodegree--nd001" target="_blank">Udacity</a></li> 
      <li><a href="https://egghead.io/" target="_blank">Eggly</a></li> 
      <li><a href="https://www.thinkful.com/" target="_blank">Thinkful</a></li>
      <li><a href="http://eloquentjavascript.net/" target="_blank">Eloquent Javascript</a></li>
  </div>
    
  <!-- Find me here -->
  <div class="findMe">
    <p>You can find me here:</p>
    <ul>
      <li><a ng-href="https://instagram.com/gamal_ali1234" target="_blank">Instagram</a></li>
      <li><a ng-href="https://github.com/gali7221" target="_blank">Github</a></li>
    </ul>
    </div>
</section>
