<section class="artistinfo">
  <div class="artist cf" ng-model="artists">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <div class='project'>
      <div class='pic col-md-7'>
        <a href='#/details/{{artists.indexOf(project)}}'>
          <img ng-src="{{projects[whichItem].pic}}"/>
        </a>
      </div>
      <div class='details col-md-5'>
        <p>{{ projects[whichItem].name }}</p>
      </div>
    </div>

    <div class="info">
      <div class="bio">{{projects[whichItem].stack[0]}}</div>
      <ul></ul>
    </div>
  </div>
</section>