<!-- PROJECTS -->
<section class='section' id='projects'>
  <h1>Projects</h1>
  <div class='row'>
    <!-- <a ng-href="#/partials/projects" class="btn-left">&lt;</a> -->
    <a ng-href="#/projects2" class="btn-right">Next</a>
    <div ng-repeat='project in projects | limitTo: 3' class='project'>
      <div class='pic col-md-7'>
        <!-- <a href='#/details/{{artists.indexOf(project)}}'> -->
          <a href="{{project.demo}}" target="_blank"><img ng-src="{{project.pic}}"/></a>
        <!-- </a> -->
      </div>
      <div class='details col-md-5'>
        <h1>{{project.name}}</h1>
        <ul>
          <li><a href="{{project.link}}">Github</a></li>
        </ul>
        <!--<p>{{ project.details }}</p>-->
      </div>
    </div>
  </div>
</section>